.Navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top : 5px;
  border-bottom: 1px solid black;
  align-items: center;
}

.Navbar-button ul{
  display: flex;
  list-style: none;
  
}

.Navbar-button li {
  padding-left: 11px;
  padding-right: 11px;
}

.Navbar-logo h3{
  font-weight: bold;
  padding-left: 10px;
  padding-right:  10px;

} 

.Navbar-button{
 padding-right: 25px;
}

.navbar-link {
  text-decoration: underline;
}
